@import '~bootstrap/scss/bootstrap';
@import './variables';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
    height: 100vh;
    color: $primaryText;
    background-color: $primaryBg;
}